body {
	display: flex;
	flex-direction: column;
	width: auto;
	height: 100vh;
	background-color: green;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
#navi_bar {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-items: center;
	justify-content: center;
	width: auto;
	height: auto;
	background-color: rgb(32, 144, 218);
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
}
.navi_item {
	display: flex;
	flex-wrap: space;
	justify-items: center;
	border: 5px bold peru dotted;
	background-color: rgb(14, 235, 80);
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
}

#header {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-items: center;
	width: inherit;
	height: auto;
	background-color: goldenrod;
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
}

#heading {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-items: center;
	width: inherit;
	height: auto;
	background-color: powderblue;
}

#banner {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-items: center;
	width: inherit;
	height: auto;
	background-color: grey;
}

#body_content {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-items: center;
	width: inherit;
	height: auto;
	background-color: palevioletred;
	padding: 10px 10px 10px 10px;
	margin: 5px 5px 5px 5px;
}

.super_container {	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: inherit;
	height: auto;
	padding: 2px 2px 2px 2px;
	margin: 2px 2px 2px 2px;
	background-color: rgb(19, 219, 233);
}

.content_container {	
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: inherit;
	height: auto;
	padding: 2px 2px 2px 2px;
	margin: 2px 2px 2px 2px;
	background-color: rgb(233, 26, 19);
}

#form_play {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex-basis: auto;
	width: auto;	
	height: auto;
	padding: 3px 3px 3px 3px;
	margin: 3px 3px 3px 3px;
	background-color: pink;
}

.form_segment {	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: auto;
	height: auto;
	justify-content: center;
	justify-items: center;
	border: 0.5px solid red;
	padding: 2px 2px 2px 2px;
	margin: 5px 5px 5px 5px;
	background-color: rgb(206, 241, 6);
}

.form_field_draw_details {	
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: inherit;
	height: fit-content;
	justify-content: center;
	justify-items: center;
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
	background-color: rgb(161, 169, 204);
}

#input_field_ball_set {	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: auto;
	height: auto;
	justify-content: center;
	justify-items: center;
	padding: 3px 3px 3px 3px;
	margin: 3px 3px 3px 3px;
}

.container_label_balls {	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: auto;
	height: auto;
	justify-content: center;
	justify-items: center;
	background-color: rgb(44, 38, 136);
	border: 2px black solid;
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
}

.ball {
	justify-items: center;
	justify-content: center;
	justify-self: center;
	text-align: center;	
	width: 70px;
	height: 70px;
	background-color: rgb(38, 89, 136);
	border-radius: 25px 25px 25px 25px;
}

.label_ball {
	justify-content: center;
	justify-items: center;
	text-align: center;
	color: antiquewhite;
	padding: 5px 5px 5px 5px;
	background-color: rgb(62, 60, 110);
}

.ball:nth-child(2n+0) {
	background-color: antiquewhite;
}

.ball:nth-child(2n+1) {
	background-color: aqua;
}

#combo_this {
	background-color: blueviolet;
}

.balls_Signature_history {
	display: flex;
	flex-direction: row;
}
